.carousel-item
{
  height: 70vh;
}

.carousel-image
{
   height: 100%;
   z-index:-1;
   filter:brightness(60%);
}

.navbar
{
    background-color: transparent !important; 
    font-weight: 500;
}

.navbar-toggler,
.navbar-toggler-icon
{
  background-color: white;
  outline: none;
}

.navbar-nav .nav-item a
{
  text-decoration: none;
  font-size: 25px;
  color: white;
}


.booknowbtn
{
  background-color: rgb(224, 158, 81);
  color: white;
  font-size: 20px;
  width: 180px;
  padding: 15px;
}

.booknowbtn span{
  margin-left: 10px;
}

.booknowbtn:hover{
  background-color: rgb(224, 158, 81);
  color: white;
}

.conventionhallimg
{
  height: 470px;
  object-fit: cover;
  filter: brightness(60%);
}

.conventionhallcontent
{
  margin-left: 30px;
  position: absolute;
  top: 50px;
  color: white;
  height: 100%;
  width: 50%;
  font-size: 20px;
}


.conventionhall
{
  width: 100%;
}

.restaurantakshaya
{
  margin-top: 100px;
}

.restaurantakshaya h3
{
  font-size: 30px;
  font-weight: 500;
}

.restaurantakshayacard
{
  width: 400px;
  border-radius: 30px;
  height: 420px;
  overflow: hidden;
  text-align: center;
}

.restaurantakshayacard img
{
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.yercaud h5:hover
{
  cursor: pointer;
}

.yercaudDesc
{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  color: white;
}

.aboutYercaud h5
{
  font-size: 25px;
  font-weight: 600;
}

.aboutYercaud p
{
  font-size: 19px;
  font-weight: 400;
}

.yercaudCardContainer
{
  width: 1250px;
}

.yercaudcardImg
{
  cursor: pointer;
}

.yercaud h3
{
  font-size: 30px;
  font-weight: 500;
}

.aboutplaces
{
  width: 250px;
  height: 330px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.aboutplaces img
{
  width: 100%;
  height: 330px;
  object-fit: cover;
  color: transparent;
}

.aboutplaces :nth-child(2)
{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  color: white;
}

.aradhanainnimg :nth-child(1)
{
  width: 310px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.aradhanainnimg :nth-child(2)
{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.aradhanainncontent
{
  font-size: 18px;
  font-weight: 400;
  width: 450px;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.averagereview
{
  font-size: 20px;
  font-weight: 400;
}

.averagereview span
{
  font-size: 30px;
  font-weight: 500;
}

.footer
{
  background-color: #c8b5944d;
  padding: 2rem;
  padding-bottom: 7rem;
}

.footerlist
{
  font-size: 20px;
}

.footerlist a
{
  text-decoration: none;
  color: black;
}

.footerfirst
{
  gap: 5rem;
}

.footeraddress a
{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.footeraddress :nth-child(3),
.footeraddress :nth-child(4)
{
  font-size: 20px;
  font-weight: 600;
}

.footeraddress :nth-child(5)
{
  font-size: 18px;
  text-decoration: underline;
}

.form
{
  width: 50%;
}

.form :nth-child(2) input,textarea
{
  padding: 7px;
  border-radius: 7px;
  outline: none;
}


.form :nth-child(2) input:focus,textarea:focus
{
  border-color: rgb(164 202 254);
}

.form button
{
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 auto;
  color: white;
  background-color: rgb(208 174 113);
  border: none;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
}

.reviewbox
{
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
}



.eventheader img
{
  width: 100%;
  object-fit: cover;
  height: 270px;
  filter:brightness(60%);
}

.restaurantcarousel
{
  border-radius: 9px;
  overflow: hidden;
  width: 92%;
  height: 500px;
}

.restaurantcarousel img
{
  height: 500px;
  border-radius: 9px;
}

.gardenrestaurant h3
{
  font-size: 40px;
  margin-bottom: 20px;
}

.gardenrestaurant p
{
  text-align: start;
  font-size: 20px;
  margin-bottom: 20px;
}

.finedining h3
{
  font-size: 40px;
}

.finedining p
{
  text-align: center;
  font-size: 20px;
  max-width: 1000px;
  padding-top: 5px;
  margin-bottom: 500px;
}

/* .card
{
  margin: 2rem;
  height: 20rem;
  width: 400px;
  margin-right: 20px;
}
.card img
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body
{
  height: 6rem;
  background-color: rgba(39, 37, 37, 0.75);
  width: 100%;
} */

.slidebtn
{
  margin-left: 8px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(224, 158, 81);
  color: white;
  border: none;
}



@media (max-width: 768px) {
  .carousel-item {
    height: 80vh;
  }
  .conventionhallcontent{
    height: 300px;
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0 30px;
  }
  .conventionhallimg{
    height: 700px;
  }
  

  .navbar-collapse
{
  background-color: #ffffff;
  z-index: 2;
}

.navbar-nav .nav-item a
{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}


.conventionhall
{
  width: 100%;
}



  .restaurantakshaya h3
  {
    font-size: 25px;
  }

  .restaurantakshaya
  {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }

  .restaurantakshayacard
  {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .yercaud h5,h3
  {
    font-size: 18px;
    padding: 0 auto;
  }
  .yercaudCardContainer
  {
    width: 100%;
    margin: 0 auto;
  }
 
  .yercaudcard
  {
    width: 70%;
    margin: 0 auto;
  }
  .aboutYercaud h5
  {
    font-size: 18px;
  }

  .aboutYercaud p
  {
    font-size: 16px;
    font-weight: 400;
  }
  
  .yercaudcardImg
  {
    height: 270px;
  }
  .yercaud h3
  {
    font-size: 22px;
    font-weight: 500;
  }

  .aboutplaces
  {
    margin: 0 auto;
    width: 70%;
    height: 350px;
  }
  .aboutplaces img
  {
    height: 350px;
  }

  .aradhanainnimg
  {
    width: 100%;
    margin: 0 auto;
    gap: 50px;
  }
  .aradhanainnimg :nth-child(1),
  .aradhanainnimg :nth-child(2)
  {
    margin: 0 auto;
    width: 75%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }

  .aradhanainncontent
  {
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    text-justify: distribute-all-lines;
  }

  .yatraicon
  {
    margin: 0 auto;
  }


  .averagereview
{
  font-size: 18px;
  width: 100%;
  font-weight: 400;
}

  .footerlist
  {
    font-size: 19px;
  }

  .footeraddress :nth-child(1),
  .footeraddress :nth-child(2),
  .footeraddress :nth-child(3),
  .footeraddress :nth-child(4),
  .footeraddress :nth-child(5)
  {
    font-size: 17px;
  }

  .form
  {
    width: 100%;
  }
  .reviewbox
  {
    margin: auto;
  }

  .eventheader img
{
  width: 100%;
  object-fit: cover;
  height: 400px;
  filter:brightness(60%);
}

.eventheader :nth-child(2) h3
{
  font-size: 40px !important;
  margin-top: 70px;
}

.restaurantheader
{
  height: 60vh !important;
}

.restaurantheader :nth-child(2) h3
{
  margin-top: 20px !important;
}

.restaurantheader :nth-child(2) h3 
{
  font-size: 40px !important;
} 

.restaurantheader :nth-child(2) p
{
  font-size: 25px !important;
} 

.conventionhallheader :nth-child(2) h3
{
  font-size: 38px !important;
}

.conventionhallheader :nth-child(2) p
{
  font-size: 25px !important;
}


.restaurantcarousel
{
  width: 80%;
  height: 300px;
  margin: 0 auto;
  /* border: 3px solid; */
}

.restaurantcarousel img
{
  height: 300px;
  border-radius: 9px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon
{
  position: absolute !important;
  top: 30% !important;
}

.gardenrestaurant h3
{
  font-size: 32px;
  margin-bottom: 20px;
}

.gardenrestaurant p
{
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.finedining h3
{
  font-size: 32px;
}

.finedining p
{
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 19px;
  margin-top: 200px;
  margin-bottom: 20px;
}


}

@media (max-width: 768px) {
  .slidebtn {
    width: 2rem;
    height: 2rem;
  }
}

