.carousel-item
{
  height: 70vh;
}

.carousel-image
{
   height: 100%;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 80vh;
  }
}

.navbar
{
    display: flex;
    background-color: transparent; 
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    /* font-size: 4rem; */
    font-weight: 500;
}

.booknowbtn
{
  background-color: rgb(224, 158, 81);
  color: white;
}

.booknowbtn:hover{
  background-color: rgb(224, 158, 81);
  color: white;
}
