.carousel-item
{
  height: 70vh;
  width: 100vw;
}

.carousel-image
{
   height: 100%;
   z-index:-1;
   filter:brightness(60%);
}

.navbar
{
    background-color: transparent !important; 
    font-weight: 500;
}

.navbar-toggler,
.navbar-toggler-icon
{
  background-color: white;
  outline: none;
}

.navbar-nav .nav-item a
{
  text-decoration: none;
  font-size: 25px;
  color: white;
}


.booknowbtn
{
  background-color: rgb(224, 158, 81);
  color: white;
  font-size: 20px;
  width: 180px;
  padding: 15px;
}

.booknowbtn span{
  margin-left: 10px;
}

.booknowbtn:hover{
  background-color: rgb(224, 158, 81);
  color: white;
}

.booknowbtn:focus,
.booknowbtn:active
{
  background-color: rgb(224, 158, 81) !important;
  color: white !important;
  outline: none !important;
}



.conventionhallimg
{
  height: 470px;
  object-fit: cover;
  filter: brightness(60%);
}

.conventionhallcontent
{
  margin-left: 30px;
  position: absolute;
  top: 50px;
  color: white;
  height: 100%;
  width: 50%;
  font-size: 20px;
}


.conventionhall
{
  width: 100%;
}

.restaurantakshaya
{
  margin-top: 100px;
}

.restaurantakshaya h3
{
  font-size: 30px;
  font-weight: 500;
}

.restaurantakshayacard
{
  border: 1px solid rgb(202 206 211);
  border-radius: 1.5em;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurantakshayacard img
{
  width: 100%;
  height: 224px;
  object-fit: cover;
  background-color: rgb(148 163 184);
}

.yercaud
{
  width: 95% !important;
}

.yercaud h5:hover
{
  cursor: pointer;
}

.yercaudDesc
{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  color: white;
}

.aboutYercaud h5
{
  font-size: 24px !important;
  font-weight: 600 !important;
}

.aboutYercaud p
{
  font-size: 19px;
  font-weight: 400;
}



.yercaudcardImg
{
  height: auto;
  cursor: pointer;
}

.yercaudcardImg .karamadaiyurimg img
{
  height: 100% !important;
  cursor: pointer;
} 

.yercaud h3
{
  font-size: 30px;
  font-weight: 500;
}


.yercaud h5
{
  font-size: 20px;
  font-weight: 400;
}

.yercaud .dark h5
{
  font-size: 20px !important;
  font-weight: 500 !important;
}


.aboutplaces
{
  width: 250px;
  height: 330px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.aboutplaces img
{
  width: 100%;
  height: 330px;
  object-fit: cover;
  color: transparent;
}

.aboutplaces :nth-child(2)
{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  color: white;
}

.aradhanainnimg :nth-child(1)
{
  width: 280px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.aradhanainnimg :nth-child(2)
{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.aradhanainncontent
{
  font-size: 18px;
  font-weight: 400;
  width: 390px;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.averagereview
{
  font-size: 20px;
  font-weight: 400;
}

.averagereview span
{
  font-size: 30px;
  font-weight: 500;
}

.footer
{
  background-color: #c8b5944d;
  padding: 2rem;
  padding-bottom: 7rem;
}

.footerlist
{
  font-size: 20px;
}

.footerlist a
{
  text-decoration: none;
  color: black;
}

.footerfirst
{
  gap: 5rem;
}

.footeraddress a
{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.footeraddress :nth-child(3),
.footeraddress :nth-child(4)
{
  font-size: 20px;
  font-weight: 600;
}

.footeraddress :nth-child(5)
{
  font-size: 18px;
  text-decoration: underline;
}

.form
{
  width: 50%;
}

.form :nth-child(2) input,textarea
{
  padding: 7px;
  border-radius: 7px;
  outline: none;
}


.form :nth-child(2) input:focus,textarea:focus
{
  border-color: rgb(164 202 254);
}

.form button
{
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 auto;
  color: white;
  background-color: rgb(208 174 113);
  border: none;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
}

.reviewbox
{
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
}


.eventheader img
{
  width: 100%;
  object-fit: cover;
  height: 270px;
  filter:brightness(60%);
}

.restaurantcarousel
{
  border-radius: 9px;
  overflow: hidden;
  width: 92%;
  height: 500px;
}

.restaurantcarousel img
{
  height: 500px;
  border-radius: 9px;
}

.gardenrestaurant h3
{
  font-size: 40px;
  margin-bottom: 20px;
}

.gardenrestaurant p
{
  text-align: start;
  font-size: 20px;
  margin-bottom: 20px;
}

.finedining h3
{
  font-size: 40px;
}

.finedining p
{
  text-align: center;
  font-size: 20px;
  max-width: 1000px;
  padding-top: 5px;
  margin-bottom: 500px;
}

.conventionhalldiv1 h3
{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.conventionhalldiv1 p
{
  text-align: justify;
  font-size: 18px;
  max-width: 1000px;
  margin-top: 30px;
}

.conventionhalldiv1 :nth-child(2)
{
  height: 500px;
  width: 93%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.conventionhalldiv2
{
  border: 1px solid rgba(202, 206, 211,1);
}

.roomsheader img
{
  object-fit: cover;
  width: 100%;
  height: 330px;
  filter:brightness(60%);
}

.roomsbtns :nth-child(1)
{
  color: white;
  padding: 12px 18px;
  font-size: 18px;
  background-color: rgb(208 174 113);
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
  border-color: transparent;
}

.roomsbtns :nth-child(2)
{
  color: black;
  padding: 12px 18px;
  font-size: 18px;
  background-color:white;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
  border: 1px solid  rgb(208 174 113);
}

.roomscard
{
  width: 100%;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.roomscard a
{
  text-decoration: none;
  color: inherit;
}

.h-50vh
{
  height: 50vh;
}

.roomamenities
{
  display: grid;
  grid-template-columns: repeat(2 , minmax(0,1fr));
}

.thingtoknow
{
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
  gap: 5rem;
}

.testmode
{
  display: block;
}

.test
{
  display: none;
}

.email-input
{
  border-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.phoneno-input
{
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.PhoneNumberCountryCodeSelect-select optgroup
{
  font-family: inherit;
  font-size: 16px;
}

.PhoneNumberCountryCodeSelect-select optgroup option
{
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  font-size: 16px;
  padding: 0 2px 1px;
}

.cardNumber-input
{
  border-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-right: 28px;
}

.monthyear-input
{
  border-radius: 0;
  border-bottom-left-radius: 8px;
}

.cvc-input
{
  border-radius: 0;
  border-bottom-right-radius: 8px;
  padding-right: 28px;
}

.nameOncard-input
{
  border-radius: 8px;
}

.galleryimgView
{
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
}








.b
{
  border: 2px solid;
}


.z-2
{
  z-index: 2;
}

.z-3
{
  z-index: 3;
}

.z-4
{
  z-index: 4;
}

.flex-basis-auto
{
  flex-basis: auto;
}

.align-items-flex-end
{
  align-items: flex-end;
}

.px-12
{
  padding-left: 48px;
  padding-right: 48px;
}


.demo
{
  width: 100%;
  border: 1px solid;
  animation: transform 0.5s ease-in-out 0s 1;
}

.translatex
{
  transform: translateX(120px);
}

.translatey
{
  transform: translateY(20px);
}

/* .Header-businesLink-Label:hover
{
  left: 0 !important;
  opacity: 1 !important;
  position: absolute !important;
  transform: translateZ(18px) !important;
  transition: opacity .1s ease 0ms,transform .1s ease 0ms,-webkit-transform .1s ease 0ms !important;
} */



/* .card
{
  margin: 2rem;
  height: 20rem;
  width: 400px;
  margin-right: 20px;
}
.card img
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body
{
  height: 6rem;
  background-color: rgba(39, 37, 37, 0.75);
  width: 100%;
} */

.slidebtn
{
  margin-left: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(224, 158, 81);
  color: white;
  border: none;
}

.slidebtn i
{
  font-size: 20px;
  color: white;
  border: none;
}



@media (max-width: 768px) {
  .carousel-item {
    height: 80vh;
  }
  .conventionhallcontent{
    height: 300px;
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 0 30px;
  }
  .conventionhallimg{
    height: 700px;
  }
  
  .h-300
  {
    height: 300px !important;
  }


  .navbar-collapse
{
  background-color: #ffffff;
  z-index: 2;
}

.navbar-nav .nav-item a
{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}


.conventionhall
{
  width: 100%;
}



  .restaurantakshaya h3
  {
    font-size: 25px;
  }

  .restaurantakshaya
  {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }

  .restaurantakshayacard
  {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .yercaud h5,h3
  {
    font-size: 18px;
    padding: 0 auto;
  }
  .yercaudCardContainer
  {
    width: 100%;
    margin: 0 auto;
  }
 
  .yercaudcard
  {
    width: 90%;
    margin: 0 auto;
  }
  .aboutYercaud h5
  {
    font-size: 18px;
  }

  .aboutYercaud p
  {
    font-size: 16px;
    font-weight: 400;
  }
  
  .yercaudcardImg
  {
    height: 100%;
  }
  .yercaud h3
  {
    font-size: 22px;
    font-weight: 500;
  }

  .aboutplaces
  {
    margin: 0 auto;
    width: 70%;
    height: 350px;
  }
  .aboutplaces img
  {
    height: 350px;
  }

  .aradhanainnimg
  {
    width: 100%;
    margin: 0 auto;
    gap: 50px;
  }
  .aradhanainnimg :nth-child(1),
  .aradhanainnimg :nth-child(2)
  {
    margin: 0 auto;
    width: 75%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }

  .aradhanainncontent
  {
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    text-justify: distribute-all-lines;
  }

  .yatraicon
  {
    margin: 0 auto;
  }


  .averagereview
{
  font-size: 18px;
  width: 100%;
  font-weight: 400;
}

  .footerlist
  {
    font-size: 19px;
  }

  .footeraddress :nth-child(1),
  .footeraddress :nth-child(2),
  .footeraddress :nth-child(3),
  .footeraddress :nth-child(4),
  .footeraddress :nth-child(5)
  {
    font-size: 17px;
  }

  .form
  {
    width: 100%;
  }
  .reviewbox
  {
    margin: auto;
  }

  .eventheader img
{
  width: 100%;
  object-fit: cover;
  height: 400px;
  filter:brightness(60%);
}

.eventheader :nth-child(2) h3
{
  font-size: 40px !important;
  margin-top: 70px;
}

.restaurantheader
{
  height: 60vh !important;
}

.restaurantheader :nth-child(2) h3
{
  margin-top: 20px !important;
}

.restaurantheader :nth-child(2) h3 
{
  font-size: 40px !important;
} 

.restaurantheader :nth-child(2) p
{
  font-size: 25px !important;
} 

.conventionhallheader :nth-child(2) h3
{
  font-size: 38px !important;
}

.conventionhallheader :nth-child(2) p
{
  font-size: 25px !important;
}


.restaurantcarousel
{
  width: 80%;
  height: 300px;
  margin: 0 auto;
}

.restaurantcarousel img
{
  height: 300px;
  border-radius: 9px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon
{
  position: absolute !important;
  top: 30% !important;
}

.roombooking .carousel-control-prev-icon,
.roombooking .carousel-control-next-icon
{
  position: absolute !important;
  top: auto !important;
}

.gardenrestaurant h3
{
  font-size: 32px;
  margin-bottom: 20px;
}

.gardenrestaurant p
{
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.finedining h3
{
  font-size: 32px;
}

.finedining p
{
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 19px;
  margin-top: 200px;
  margin-bottom: 20px;
}

.conventionhalldiv1 h3
{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}


.conventionhalldiv1 p
{
  width: 90%;
  text-align: justify;
  font-size: 16px;
}

.conventionhalldiv1 :nth-child(2)
{
  height: 300px;
  width: 90%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.conventionhalldiv2 :nth-child(1) ul
{
  font-size: 16px !important;
}

.conventionhalldiv2 :nth-child(1) h3
{
  font-size: 20px !important;
  font-weight: 500;
}

.conventionhalldiv3 h3
{
  font-size: 25px !important;
  font-weight: 500 !important;
}


.conventionhalldiv3 :nth-child(2)
{
  height: 190px !important;
}

.roomsheader img
{
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.roomsheader :nth-child(2) 
{
  top: 60px !important;
}

.datecheck
{
  width: 100% !important;
}

.datecheck :nth-child(1)
{
  width: 100% !important;
}

.datecheck :nth-child(2) h6
{
  font-size: 11px !important;
  width: fit-content !important;
}

.datecheck :nth-child(2) input
{
  width: fit-content !important;
}

.h-70vh
{
  height: 70vh;
}

.roomamenities
{
  display: grid;
  grid-template-columns: repeat(1 , minmax(0,1fr));
}

}




/*-----------------Media queries---------------*/

@media (min-width: 640px) {

  .newNavbar
  {
    padding: 0 16px !important;
  }
  }

  @media (min-width: 1016px) {

    .navbarbtncollapse
    {
      display: none !important;
    }
    }

    @media (max-width: 1016px) {

      .navbarbeforecollapse
      {
        display: none !important;
      }
      }

      @media (min-width: 768px) {

        .h-60vh
        {
          height: 60vh !important;
        }
        }
      
        @media (min-width: 1024px) {

          .h-70vh
          {
            height: 70vh !important;
          }
          }
    
@media (min-width: 640px) {

  .thingtoknow
  {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  }

  @media (min-width: 768px) {

    .roomimg
    {
      height: 300px !important;
    }
    }


    @media (min-width: 600px) {

      .display-none
      {
       display: none !important;
      }
      }

      @media (max-width: 600px) {

        .display-md-none
        {
         display: none !important;
        }
        }

      


      @media (min-width: 768px) {

        .galleryimgView
       {
           display: grid;
           grid-template-columns: repeat(2,minmax(0,1fr));
       }
        }

        @media (min-width: 1024px) {

          .galleryimgView
         {
             display: grid;
             grid-template-columns: repeat(3,minmax(0,1fr));
         }
          }
   

      
  @media (min-width: 576px) {

    .Header-businesLink-Name
    {
      transition: opacity .25s ease .1s,transform .25s ease .1s,-webkit-transform .25s ease .1s;
    }
    }

@media (max-width: 768px) {
  .slidebtn {
    width: 32px;
    height: 32px;
    /* margin-right: 20px; */
  }
  .slidebtn i
{
  font-size: 15px;
  color: white;
  border: none;
}
}

@media (min-width: 768px) {
  .items-stretch {
   align-items: stretch !important;
   gap: 0 !important;
  }
}


@media (min-width: 768px) {
  .roomscard
{
  width: 100%;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
}
}

@media (min-width: 768px) {
  .restaurantakshayacard
{
  width: 33% !important;
}
.thingtoknow
{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
}
}

@media (min-width: 768px) {
  .text-md-lg
{
 font-size: 18px !important;
}
}


@media (min-width: 768px) {
  .text-md-2xl
{
  font-size: 24px !important;
}
}

@media (max-width: 768px) {

  .imgskeleton
  {
   width: 120px !important;
   height: 120px !important;
   border-radius: 9px !important;
  }
}

@media (max-width: 992px) {

  .testmode
  {
    display: none !important;
  }

  .test
  {
    display: flex !important;
  }
}

@media (max-width: 992px) {

  .ProductSummary-totalAmountContainer
  {
    justify-content: center !important;
  }
}

@media (min-width: 992px) {

  .ProductSummary-totalAmountContainer
  {
    justify-content: flex-start !important;
  }
}


@media (min-width: 992px) {

  .product-summary
  {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: left !important;
    text-align: left !important;
  }
}


@media (min-width: 992px) {

  .ProductSummary-productImageContainer
  {
    height: 300px !important;
    margin: 16px 0 !important;
    order: 2 !important;
    width: 300px !important;
  }
}

@media (min-width: 992px) {

  .ProductSummary-Info
  {
    order: 1;
  }
}

@media (min-width: 992px) {

  .ProductSummary-totalsread
  {
    padding-bottom: 4px;
  }
}




@media (min-width: 992px) {

  .ProductImage-image
  {
   max-height: 300px !important;
   max-width: 300px !important;
  }
}



@media (min-width: 992px) {

  .App
  {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 920px;
    transform: translateY(max(48px,calc(50vh - 55%)));
  }
}




@media (min-width: 992px) {

  .App-Overview
  {
    margin-bottom: 0 !important;
    width: 380px !important;
    padding-bottom: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -90px !important;
  }
}

@media (min-width: 992px) {

  .PaymentFormFixedHeightContainer
  {
   min-height: 400px !important;
  }
}


@media (min-width: 992px) {

  .App-Footer
  {
   margin: 12px 0 !important;
   position: absolute !important;
   left: 0 !important;
   bottom: 40px !important;
   background-color: inherit !important;
   padding: 0 !important;
   height: auto !important;
   width: auto !important;
   flex-direction: row !important;
   align-items: baseline !important;
  }
}

@media (min-width: 992px) {

  .Footer-PoweredBy
  {
   border-right: 1px solid hsla(0, 0%, 10%, 0.1) !important;
   padding: 0 !important;
   padding-right: 16px !important;
   text-align: left !important;
   width: auto !important;
  }
}


@media (min-width: 992px) {

  .Footer-Links
  {
   padding: 0 0 0 16px !important;
  }
}



@media (max-width: 992px) {

  .verticalline
  {
   display: none !important;
  }
}


@media (max-width: 992px) {

  .PaymentRequestOrHeader
  {
    display: none !important;
  }
}





@media (min-width: 992px) {

  .App-payment
  {
    margin-bottom: 0 !important;
    width: 380px !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}




@media (max-width: 992px) {

  .PhoneNumberCountryCodeSelect-select
  {
    position: absolute;
    left: -12px;
    top: -4px;
    padding-bottom: 44px;
    padding-left: 20px;
  }
}


@media (max-width: 992px) {

  .Header
  {
    background-color: white !important;
  }
}



@media (max-width: 992px) {

  .Header-Content
  {
    margin: auto !important;
    max-width: 380px !important;
  }
}




@media (min-width: 1280px) {
  .roomscard
{
  width: 100%;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
}
}

@media (min-width: 1024px) {
  .w-33
{
  width: 33% !important;
}

.thingtoknow
{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
}
}




